<h3>Your publications</h3>
{{#if publications}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each publications}}
      <tr>
        <td><a href="/publications/{{_id}}">{{title}}</a></td>
        <td>{{formatDate createdAt 'Do MMMM YYYY, h:mm:Ss a'}}</td>
        <td><span class="dash-status">{{status}}</span></td>
        <td>
          <a href="/publications/edit/{{_id}}" class="btn btn-sm" style="float: left; margin-right: 10px;">
            <i class="fas fa-edit"></i>
          </a>

          <form action="/publications/{{_id}}" method="POST" id="delete-form">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn red">
              <i class="fas fa-trash"></i>
            </button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You have not have any publications.</p>
{{/if}}